<h2>Triumvirates</h2>

<ul>
  <% triumvirates.each do |triumvirate| %>
    <li><img alt="" src="<%= triumvirate.sigil_img_small %>" width="40"/> <%= triumvirate.name %></li>
  <% end%>
</ul>


<h2>Exiles</h2>

<ul>
  <% exiles.each do |exile| %>
    <li><img alt="" src="<%= exile.portrait_img_small %>" width="40"/> <%= exile.name %></li>
  <% end%>
</ul>


<h2>Stages</h2>

<ul>
  <% stages.each do |stage| %>
    <li><%= stage.name %></li>
  <% end%>
</ul>


<h2>Input Methods</h2>

<ul>
  <% input_methods.each do |input_method| %>
    <li><%= input_method.name %></li>
  <% end%>
</ul>
