<h2>Rite Detail</h2>

<code><%= h(rite.inspect) %></code> <br/>

<dl>
  <dt>PLAYER A</dt> <dd><%= rite.player_a_id %></dd>
  <dt>TRIUMVIRATE</dt> <dd><%= rite.player_a_triumvirate_id %></dd>
</dl>

<dl>
  <dt>PLAYER B</dt> <dd><%= rite.player_b_id %></dd>
  <dt>TRIUMVIRATE</dt> <dd><%= rite.player_b_triumvirate_id %></dd>
</dl>
