<h2 id="rite-detail-title-1">Rite #<%= rite[:rite].id %></h2>
<h3 id="rite-detail-title-2"><%= rite[:player_a].username %> <i>vs.</i> <%= rite[:player_b].username %> <i>at</i> <%= rite[:stage].name %></h3>

<div iv id="rite-detail">

<div id="rite-general-details">
  <dl>
    <dt><i class="fas fa-tag"></i> LABEL</dt> <dd><a href="/rites/labels/<%= rite[:label] %>"><%= rite[:label] %></a></dd>
    <dt>STAGE</dt> <dd><%= rite[:stage].name %></dd>
    <dt><i class="fas fa-hourglass-half"></i> DURATION</dt> <dd><%= rite[:rite].pretty_duration %></dd>

    <dt>MASTERIES ALLOWED</dt>
      <% if rite[:rite].masteries_allowed == -1 %>
        <dd><i>(defaults)</i></dd>
      <% else %>
        <dd><%= rite[:rite].masteries_allowed %></dd>
      <% end  %>

    <% if rite[:rite].talismans_enabled %>
      <dt>TALISMANS ENABLED</dt> <dd></dd>
    <% else %>
      <dt>TALISMANS DISABLED</dt> <dd></dd>
    <% end %>
  </dl>
</div>

<div id="rite-detail-player-a">
  <div class="rite-detail-triumvirate-pres">
    <img alt="" src="<%= rite[:player_a_triumvirate].sigil_img_medium %>"/>
    <span class="book-font rite-detail-triumvirate-name">
      <% if rite[:rite].winner == :player_a %><i class="fa fa-trophy"></i> <% end %>
      <%= rite[:player_a_triumvirate].name %>
    </span>
  </div>

  <dl>
    <dt><i class="fas fa-user"></i> PLAYER A</dt> <dd><a href="<%= rite[:player_a].url %>"><%= rite[:player_a].username %></a></dd>
    <dt>EXILES</dt>
      <dd>
        <ul class="rite-detail-exiles-list">
          <% rite[:player_a_exiles].each do |exile| %>
            <li><%= exile.name %></li>
          <% end %>
        </ul>
      </dd>
    <dt><i class="fas fa-fire"></i> PYRE HEALTH</dt> <dd><%= rite[:rite].player_a_pyre_end_health %>/<%= rite[:rite].player_a_pyre_start_health %></dd>
  </dl>
</div>

<div id="rite-detail-player-b">
  <div class="rite-detail-triumvirate-pres">
    <img alt="" src="<%= rite[:player_b_triumvirate].sigil_img_medium %>"/>
    <span class="book-font rite-detail-triumvirate-name">
      <% if rite[:rite].winner == :player_b %><i class="fa fa-trophy"></i> <% end %>
      <%= rite[:player_b_triumvirate].name %>
    </span>
  </div>
  <dl>
    <dt><i class="fas fa-user"></i> PLAYER B</dt> <dd><a href="<%= rite[:player_b].url %>"><%= rite[:player_b].username %></a></dd>
    <dt>EXILES</dt>
      <dd>
        <ul class="rite-detail-exiles-list">
          <% rite[:player_a_exiles].each do |exile| %>
            <li><%= exile.name %></li>
          <% end %>
        </ul>
      </dd>
    <dt><i class="fas fa-fire"></i> PYRE HEALTH</dt> <dd><%= rite[:rite].player_b_pyre_end_health %>/<%= rite[:rite].player_b_pyre_start_health %></dd>
  </dl>
</div>

<div style="clear:both;"></div>

</div>

<!-- ///////////////// -->

<!-- XXX I've totally forgotten how to do audio, too, apparently -->
<% rite[:rite].cheer_sounds.each_with_index do |uri, i| %>
  <audio id="cheer-exile-<%= i %>">
    <source src="<%= uri %>"/>
  </audio>
<% end %>

<script type="application/javascript" href="/js/cheer.js">
</script>
