<h2>Rite Detail</h2>

<dl>
  <dt>PLAYER A</dt> <dd><%= player_a.user_username %></dd>
  <dt>TRIUMVIRATE</dt> <dd><%= player_a_triumvirate.triumvirate_name %></dd>
  <dt>EXILE 1</dt> <dd><%= player_a_exile_1.exile_name %></dd>
  <dt>EXILE 2</dt> <dd><%= player_a_exile_2.exile_name %></dd>
  <dt>EXILE 3</dt> <dd><%= player_a_exile_3.exile_name %></dd>
</dl>

<dl>
  <dt>PLAYER B</dt> <dd><%= player_b.user_username %></dd>
  <dt>TRIUMVIRATE</dt> <dd><%= player_b_triumvirate.triumvirate_name %></dd>
  <dt>EXILE 1</dt> <dd><%= player_b_exile_1.exile_name %></dd>
  <dt>EXILE 2</dt> <dd><%= player_b_exile_2.exile_name %></dd>
  <dt>EXILE 3</dt> <dd><%= player_b_exile_3.exile_name %></dd>
</dl>
