<h2>Recent Rites Conducted</h2>

<table id="rites-table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Player A</th>
      <th>Player B</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% rites.each do |rite| %>
      <tr>
        <td>
          <%= rite[:rite][:timestamp] %>
        </td>
        <td>
          <%= rite[:player_a][:username] %> &mdash; <%= rite[:player_a_triumvirate].name %>
        </td>
        <td>
          <%= rite[:player_b][:username] %> &mdash; <%= rite[:player_b_triumvirate].name %>
        </td>
        <td class="small">
          <a href="/rites/<%= rite[:rite][:id] %>">details&hellip;</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
