<h2>Recent Rites Conducted</h2>

<table id="rites-table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Player A</th>
      <th>Player B</th>
    </tr>
  </thead>
  <tbody>
    <% rites.each do |rite| %>
      <tr>
        <td>
          <a href="/rites/<%= rite[:rite][:id] %>"><%= rite[:rite].pretty_timestamp %></a>
        </td>

        <td class="rites-table-single-player-entry">
          <div align="center">
            <img alt="" src="<%= rite[:player_a_triumvirate].sigil_img_small %>" width="50"> <br/>
            <% if rite[:rite].winner == :player_a %><i class="fas fa-check"></i><% end %>
            <%= rite[:player_a_triumvirate].name %> <br/>
            <a href="/users/<%= rite[:player_a][:username] %>"><%= rite[:player_a][:username] %></a> 
          </div>
        </td>

        <td class="rites-table-single-player-entry">
          <div align="center">
            <img alt="" src="<%= rite[:player_b_triumvirate].sigil_img_small %>" width="50"> <br/>
            <% if rite[:rite].winner == :player_b %><i class="fas fa-check"></i><% end %>
            <%= rite[:player_b_triumvirate].name %> <br/>
            <a href="/users/<%= rite[:player_b][:username] %>"><%= rite[:player_b][:username] %></a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
