<h3><i class="fas fa-user"></i> <%= user.username %></h2>

<dl>
  <dt>LOCATION</dt>
  <dd><%= user.location %><dd>
</dl>

<h2><%= n_rites_conducted %> rite<%= n_rites_conducted == 1 ? "" : "s" %> conducted by <%= user.username %></h2>

<dl>
  <dt>Rites won</dt> <dd><%= n_rites_won %></dd>
  <dt>Rites lost</dt> <dd><%= n_rites_lost %></dd>
</dl>

<ul>
  <% relevant_rites.each do |rite| %>
    <li>
      <a href="/rites/<%= rite.id %>"><%= rite.id %> &mdash; <%= rite.label %></a>
    </li>
  <% end %>
</ul>
