<h3><%= user.username %></h2>

<dl>
  <dt>LOCATION</dt>
  <dd><%= user.location %><dd>
</dl>

<h2><%= n_rites_conducted %> Rites conducted by <%= user.username %></h2>

<ul>
  <% relevant_rites.each do |rite| %>
    <li>
      <a href="/rites/<%= rite.id %>"><%= rite.id %> &mdash; <%= rite.label %></a>
    </li>
  <% end %>
</ul>
